@import "../scss/variables.scss";

.contact-wrapper {
    background-color: $section-color;
    margin-top: 5rem;
    padding: 3rem 2rem;

    .mail-image {
        img {
            max-width: 100%;
        }
    }

    .form {
        width: 60%;
        margin: 0 auto;
    }

    label {
        height: 0;
        overflow: hidden;
        position: absolute;
    }

    .form-group {
        position: relative;
        margin: 2.2rem 0;
    }

    input:focus + label,
    textarea:focus + label {
        height: 100%;
        overflow: none;
        position: absolute;
        bottom: 1.1rem;
        transition: all 0.2s ease-in-out;
    }

    input:focus::placeholder,
    textarea:focus::placeholder {
        color: transparent;
    }

    input,
    textarea {
        border-radius: 5px;
        transition: all 0.5s ease-in-out;
        &:focus {
            box-shadow: none;
            border-color: $card;
            border-bottom: 3px solid $red;
        }
    }

    h1 {
        color: $red;
        margin: 0;
        padding-bottom: 2rem;
    }

    .download-btn-1 {
        border-radius: 20px;
        background-color: $red;
        color: $white;
        display: inline-block;
        border: none;
        padding: 0.5rem 4rem;
        transition: box-shadow .3s ease-in-out;
        &:hover {
            background-color: $text-color;
            box-shadow: 0.35rem 0.25rem 0.25rem $shadow;;
        }
    }
}

@media screen and (max-width: 768px) {
    .mail-image {
        img {
            display: none;
        }
    }
}
