@import "../scss/variables.scss";

.footer-wrapper {
    background-color: $red;
    margin-top: 2rem;
    padding: 2rem 0;

    .icons-container {
        padding: 2rem 0 1.5rem;
    }

    .icons-row {
        justify-content: center;
        text-align: center;
    }

    .links-row {
        justify-content: center;
        text-align: center;
        padding-top: 2rem;
        margin-top: 1.5rem;

        div {
            padding: .5rem 0;
        }
    }

    .copyrights-row {
        justify-content: center;
        text-align: center;
        padding-top: 2rem;
        margin-top: 1.5rem;
        color: #fff;

        div {
            padding: .5rem 0;
        }
    }

    div a {
        text-decoration: none;
        color: #fff;
        transition: all .2s ease-out;
        &:hover{
            border-bottom: 2px solid #FFF;
            font-size: 1.1rem;
        }
    }

    img {
        background-color: #fff;
        border-radius: 10px;
        width: 3rem;
        transition: transform .3s ease-in-out;
        &:hover{
            transform: scale(1.1);
            filter: drop-shadow(.25rem .25rem .25rem black);
        }
    }
}
