@import "./components/scss/variables.scss";
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');
.App {
  background-color: $base-color;
  overflow: hidden;
  position: relative;
  margin: 0px;
  font-family: 'Roboto Slab', serif;
  -webkit-font-smoothing: antialiased;
}
