@import "../scss/variables.scss";

.work-wrapper {
    margin-top: 5rem;
    text-align: center;
    background-color: #112D32;
    padding: 3rem 0;

    h2 {
        color: $red;
        margin-bottom: 2rem;
    }

    .work-type {
        margin: 1rem;
        padding: 0;
        background-color: $base-color;
        position: relative;
        border-radius: 5px;
        cursor: pointer;

        img {
            transition: transform 0.5s ease-in-out;
        }

        &:hover {
            img {
                transform: scale(1.1);
            }
        }
    }
}
